@keyframes animate{
0%
{
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
}
10%
{
    opacity: 1;
}
90%
{
    opacity: 1;
}
100%
{
    transform: scale(0.2) translateY(-500%) rotate(3600deg);
    opacity: 1; 
}

}
aside#back_square
{
z-index: -1;
position: fixed;
pointer-events:none;
animation:  animate 12s linear infinite alternate;
}