:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 1000ms;}
body {
  margin: 0;
  padding: 0;
  background:#010615; }
main h1 {
  text-align: justify;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding: 1rem;
  color: rgb(238, 118, 238);
  }  
main p {
  text-align: justify;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding: 1rem;
  color: rgb(96, 145, 202);
}
main .base1{
  max-height: 100vh;
  padding-top: 100px;
  height: 650px;
  z-index: -1; 
  border: 0.1px solid rgba(141, 24, 24, 0);
  display: flex;
  align-items: center;
  align-content: center;
  
}

main .mosaico
{
  position: absolute;
  z-index: -1;
  max-width: 100vh;
  opacity: 0.5;
  
}

.mosaico img {
  max-width: 99vw;
  }

.cxbase1{
  margin-left: auto;
  margin-right: auto;
  
  max-width: 1050px;
  align-items: center;
  background: rgba(115, 34, 139, 0.384);
  border-radius: 15px;
}
main .cxbase1 p{
  
 
  color: white;
  font-size: min(1.5rem,6vw);
  text-shadow: 2px 2px 5px white;

  
}
main .cxbase1 h1{
  
  color: white;
  font-size: min(2rem,6vw);
  text-shadow: 2px 2px 5px white;
  text-align: center;

  
}

main .base2{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  
  box-sizing: border-box;
  
}
.box{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  background: #060c21;
  transition: 0.5s;
}
.box:hover{
  height: 400px;
}
.box .imgpla
{
  opacity: 0.5;
}
.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.box .imgBx img{
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.box:hover .imgBx img{
  opacity: 1;
}
.box:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -1;
}
.box:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box:after{
  background: linear-gradient(235deg,#00bcd4,#010615,#00eeff);
}
.box:nth-child(4):before,
.box:nth-child(4):after{
  background: linear-gradient(235deg,#ff005e,#010615,#ff5e00);
}
.box:nth-child(5):before,
.box:nth-child(5):after{
  background: linear-gradient(235deg,#bc2aff,#010615,#f321e2);
}
.box:nth-child(6):before,
.box:nth-child(6):after{
  background: linear-gradient(235deg,#71d400,#010615,#00ff62);
}
.box:nth-child(7):before,
.box:nth-child(7):after{
  background: linear-gradient(235deg,#fbff00,#010615,#ffbc2a);
}
.box .content{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.box:hover .content{
  opacity: 1;
}
.box .content h2{
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
.box .content h2 span{
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}
@media only screen and (max-width: 640px) 
  {
  main h1{
    margin: 0rem;
    }
  main p{
    margin: 0rem;
    }
  .box{
    width: 280px;
    height: 280px;
    margin: 20px;
  }
  .box:hover{
    height: 380px;
  }
    
  }
  
